.container {
  float: left;
}

.detail{
  font-size: 12px;
}
.media {
  width: 100px;
  border: none;
}

.movie {
  font-style: italic;
}

img {
  width: 400px;
  border: solid #BCE8F1;
  border-radius: 10px;
}

.header h2 {
  font-size: 18px;
}
.col-sm-6 {
  padding: 10px;
}
